.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 255px;
    height: 48px;
    background: #3182ce;
    border-radius: 6px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    cursor: pointer;
    text-align: justify;
}

.button.input-icon {
    position:absolute;
    right: 10px;
    width: 19px;
    height: 22px;
    background: transparent;    
}